.design-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0;
  }
  
  .design {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .timeline {
    width: 80%;
    height: auto;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .timeline-content {
    padding: 20px;
    background-color: #f5f5f5;
    color: #0f253d;
    -webkit-box-shadow: 5px 5px 10px #c0bcbc, -5px -5px 10px #e9e9e9;
            box-shadow: 5px 5px 10px #c0bcbc, -5px -5px 10px #e9e9e9;
    border-radius: 5px;
    padding: 1.75rem;
    transition: 0.4s ease;
    overflow-wrap: break-word !important;
    margin: 1rem;
    margin-bottom: 20px;
    border-radius: 6px;
  }
  
  .timeline-component {
    margin-bottom: 80px;
  }
  
  @media screen and (min-width: 1250px) {
    .design-section {
      padding: 100px 0;
    }
    .timeline {
      display: grid;
      grid-template-columns: 1fr 40px 1fr;
    }
    .timeline-middle {
      position: relative;
      background-image: linear-gradient(45deg, #0f253d, #36698f, #5dade2);
      width: 3px;
      height: 100%;
      z-index: -1;
    }
    .main-middle {
      opacity: 0;
    }
    .timeline-circle {
      position: absolute;
      top: 0;
      left: 50%;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-image: linear-gradient(45deg,#0f253d, #36698f, #5dade2);
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
    }
  }
